.lane-display{
    display: flex;
    
    border: 1px solid black;
    .lane {
        border: 1px solid black;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .status{
            height: 10px;
            width: 10px;
            border-radius: 50%;
                &.active {
                    background-color: green;
                }
                &.inactive {
                    background-color: red;
                }
                &.pending-call {
                    background-color: yellow;
                }
        }
    }
    .call-form{
        > * {
            margin-bottom: 5px;
        }
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        min-width: 50vw;
        border: 1px solid black;
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        .fa-xmark{
            border: 1px solid black;
        }
        select {
            height: 2rem;
        }
        input {
            height: 2rem;
        }
        .pin-selector{
            display: flex;
            justify-content: space;
            .pin-div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}